$pcolor: #222831;
$wcolor: white;
$bcolor: #10375C;
$ocolor: #FF5722;
$rcolor: #DD2C00;
$gcolor: #6A6A6A;
$ggcolor: #9A9A9A;
$tcolor: #0D2C4A;
$ncolor: black;
$zcolor: #DFDFDF;
$xcolor: #F8F8F8;
$bg-color1: #10375C;
$bg-color2: #0D2C4A;
$primaryColor: #10375c;
$secondaryColor: #ff5722;
$blackColor: #222831;
$greyColor: #9a9a9a;