* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

body {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  width: 100%;
}

.container {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #10375C;
}

.cont {
  display: flex;
  align-items: center;
}

.btn1 {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 12px 24px 12px 24px;
  color: #FF5722;
}

.btn2 {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 12px 24px 12px 24px;
  color: white;
  background-color: #FF5722;
}

.line {
  margin-top: 3px;
}

b {
  color: #DD2C00;
}

.btn3 {
  font-family: "Lato";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: white;
  background-color: #FF5722;
  padding: 13px 60px 13px 60px;
  margin-top: 32px;
}

.op {
  opacity: 0.35;
  color: white;
}

.input {
  background-color: #0D2C4A;
  color: white;
}

.contain {
  padding: 0;
  margin: 0 auto;
  max-width: 1140px;
}

.section-intro {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: #222831;
  margin-bottom: 10px;
}
.section-intro::after {
  content: "";
  margin-left: 15px;
  margin-top: 4px;
  width: 73px;
  height: 2px;
  background-color: #222831;
}

.header {
  padding-top: 70px;
}
.header__logo {
  margin-right: 180px;
}
.header__list {
  display: flex;
  align-items: center;
}
.header__nav-link {
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: #222831;
}
.header__nav-link:hover {
  color: #FF5722;
}
.header__item {
  margin-right: 40px;
}
.header__main {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.header__button {
  display: flex;
  margin-left: 65px;
}

.bron {
  padding-top: 62px;
  padding-bottom: 110px;
}
.bron__subtitle {
  font-family: "Lato";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  color: #222831;
  margin-right: 20px;
}
.bron__subtitle1 {
  display: flex;
  align-items: center;
}
.bron__title {
  font-family: "Lora";
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #10375C;
  max-width: 667px;
}
.bron__text {
  font-family: "Lato";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  max-width: 382px;
  color: #6A6A6A;
}
.bron__top {
  display: flex;
  align-items: center;
}
.bron__top-right {
  margin-left: 85px;
}
.bron__form {
  background: #10375C;
  padding: 56px 31px 56px 20px;
  max-width: 445px;
  margin-top: 80px;
}
.bron__ww {
  position: relative;
}
.bron__form-title {
  font-family: "Lora";
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 29px;
  margin-left: 25px;
}
.bron__form-item {
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 12px;
  background-color: #0D2C4A;
  padding-left: 30px;
  padding-bottom: 10px;
}
.bron__form-item:last-child {
  margin-bottom: 40px;
}
.bron__form-sel {
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  background-color: #0D2C4A;
  color: white;
  width: 340px;
}
.bron__btn3 {
  margin-left: 70px;
}
.bron__bottom {
  position: relative;
}
.bron__image {
  position: absolute;
  right: 100px;
  top: -70px;
}

.about__in {
  display: flex;
}
.about__right {
  display: grid;
  grid-template-columns: repeat(2, 204px);
  grid-template-rows: 64px 64px 64px;
  grid-column-gap: 124px;
  grid-row-gap: 64px;
  margin-top: 30px;
}
.about__right-title {
  color: #10375C;
  font-family: "Lora";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about__right-text {
  color: #9A9A9A;
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-left: 56px;
}
.about__right-imges {
  display: flex;
}
.about__right-img {
  margin-right: 24px;
}
.about__left {
  background-color: #10375C;
  padding: 54px;
  margin-left: 71px;
}
.about__left-title {
  font-family: "Lora";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 433px;
  margin-bottom: 24px;
}
.about__left-text {
  font-family: "Lato";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  max-width: 433px;
}
.about__left-prev {
  display: flex;
  margin-bottom: 8px;
}
.about__left-prev-title {
  font-family: "Lato";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-right: 10px;
}
.about__left-prev-img {
  height: 4px;
  margin-top: 16px;
  width: 80px;
  fill: #9A9A9A;
}

.spaces {
  padding-top: 112px;
  padding-bottom: 112px;
}
.spaces__header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  -moz-column-gap: 110px;
       column-gap: 110px;
}

.section-text {
  flex: 1;
  font-size: 18px;
  line-height: 1.5em;
  max-width: 450px;
  color: #9A9A9A;
}
.section-text__nav {
  display: flex;
  justify-content: end;
  -moz-column-gap: 23px;
       column-gap: 23px;
}
.section-text__slider {
  margin: 0 auto;
  margin-top: 64px;
}

.section-title {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #10375C;
  font-size: "Lora";
  margin-right: 164px;
}

.header-spaces__main {
  display: flex;
  flex: 1;
  -moz-column-gap: 50px;
       column-gap: 50px;
  align-items: center;
  padding-bottom: 56px;
}

.slider-controllers {
  display: flex;
  justify-content: space-between;
  width: 170px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding-bottom: 50px;
}
.slider-controllers__arrow {
  display: flex;
  align-items: end;
}

.arrow-left {
  justify-content: start;
}
.arrow-left .arrow__line {
  margin-left: 4px;
}

.arrow {
  display: flex;
  align-items: center;
  position: relative;
  height: 29px;
  width: 50px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.arrow__line {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #9a9a9a;
  transition: all 0.2s ease;
}
.arrow__body {
  fill: #9a9a9a;
  position: absolute;
  transition: all 0.2s ease;
}
.arrow:hover {
  width: 90px;
}
.arrow:hover .arrow__line {
  background-color: #ff5722;
}
.arrow:hover .arrow__body {
  fill: #ff5722;
}

.arrow-right {
  justify-content: end;
}
.arrow-right .arrow__line {
  margin-right: 4px;
}

.slider-spaces__nav {
  margin: 0 auto;
  width: 160px;
  height: 4px;
  margin-top: 53px;
}
.slider-spaces__nav .swiper-pagination-progressbar-fill {
  background-color: #ff5722;
}
.slider-spaces__progressbar {
  position: relative;
  background-color: #9a9a9a;
}
.slider-spaces__fractions {
  text-align: center;
  margin-top: 7px;
}
.slider-spaces__current {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5em;
  color: #222831;
}
.slider-spaces .slash {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #0d2c4a;
}
.slider-spaces__all {
  line-height: 1.6em;
  color: #9a9a9a;
}

.card-spaces {
  height: 468px;
  position: relative;
  max-width: 350px;
}
.card-spaces__content {
  color: #fff;
}
.card-spaces__img {
  width: 100%;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-spaces__title {
  text-align: center;
  padding-top: 25px;
  font-weight: 700;
  font-size: 20px;
  color: #222831;
}
.card-spaces__text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5em;
  text-align: center;
  margin-top: 14px;
}
.card-spaces:hover .main-content {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.card-spaces:hover .private-card {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.card-spaces:hover .check-avaibility-btn {
  bottom: 0;
}

.check-avaibility-btn {
  position: absolute;
  left: 0;
  bottom: 48px;
  color: #fff;
  font-weight: 700;
  font-size: 0;
  line-height: 0;
  text-align: left;
  width: 72px;
  height: 72px;
  background-color: #ff5722;
  transition: all 0.2s ease;
}
.check-avaibility-btn::after {
  content: "";
  width: 32px;
  height: 32px;
  position: absolute;
  top: 22px;
  right: 22px;
  background-image: url(../img/chevron\ down.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.check-avaibility-btn:hover {
  width: 255px;
  padding: 25px 54px;
  font-size: 18px;
  line-height: 1.2em;
}

.main-content {
  opacity: 1;
  transition: all 0.3s ease;
}

.private-card {
  background-color: #10375c;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease;
}
.private-card:after {
  content: "";
  width: 90px;
  height: 90px;
  position: absolute;
  background-image: url(../img/Mask\ Group.svg);
  right: 16px;
  top: 16px;
}
.private-card__content {
  height: 100%;
  padding: 144px 41px 184px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.private-card__title {
  font-family: "Lora", sans-serif;
  text-align: center;
  font-size: 32px;
}

.facilities .section-title {
  max-width: 570px;
}
.facilities__header {
  margin-bottom: 51px;
}
.facilities__content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  -moz-column-gap: 88px;
       column-gap: 88px;
}
.facilities__nav {
  max-width: 293px;
}
.facilities__list {
  display: flex;
  flex-direction: column;
}
.facilities__item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 24px;
  font-size: 20px;
  font-weight: 700;
  color: #222831;
  transition: all 0.2s ease;
  cursor: pointer;
}
.facilities__item:hover {
  background-color: rgba(255, 87, 34, 0.1);
}
.facilities__item.swiper-slide-thumb-active {
  background-color: #ff5722;
  color: #fff;
}
.facilities__item.swiper-slide-thumb-active:hover {
  background-color: #ff5722;
}
.facilities__slider {
  flex: 1;
  height: 453px;
}
.facilities__img {
  max-width: 729px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery {
  position: relative;
  height: 606px;
}
.gallery__header {
  position: absolute;
  top: 0;
  right: 15px;
  width: 100%;
  display: flex;
  justify-content: end;
  z-index: 5;
}
.gallery__header .section-title {
  margin-bottom: 39px;
}
.gallery__slider-wrapper {
  width: 100%;
  height: 100%;
  padding-left: 95px;
}
.gallery__slider {
  margin: 0;
  width: 445px;
  height: 100%;
  overflow: visible;
}

.header-gallery__container {
  max-width: 500px;
}

.slider-gallery__slide {
  width: 350px;
  padding: 256px 0 0 0;
  align-self: flex-end;
  transition: padding 0.7s ease;
}
.slider-gallery__slide img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider-gallery__slide.swiper-slide-active {
  width: 445px;
  padding: 0;
}
.slider-gallery__image {
  position: relative;
  height: 100%;
}

.partner {
  padding-top: 112px;
  padding-bottom: 112px;
}
.partner__head {
  font-family: "Lora";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #0D2C4A;
  text-align: center;
  margin-bottom: 24px;
}
.partner__text {
  font-family: "Lato";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  color: #9A9A9A;
  margin-bottom: 56px;
}
.partner__boxes {
  display: flex;
}
.partner__box {
  padding-right: 60px;
}
.partner__box:last-child {
  padding-right: 0;
}/*# sourceMappingURL=style.css.map */