@import 'reset';
@import 'vars';
@import 'sabl';

.header{
    padding-top: 70px;
    &__logo{
        margin-right: 130px;
    }
    &__list{
        display: flex;
        align-items: center;
    }
    &__nav-link{
        font-family: 'Lato';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        color: $pcolor;
        &:hover{
            color: $ocolor;
        }
    }
    &__item{
        margin-right: 40px;
    }
    &__main{
        display: flex;
        align-items: center;
        margin-top: 5px;
    }
    &__button{
        display: flex;
        margin-left: 65px;
    }
}
.bron{
    padding-top: 62px;
    padding-bottom: 110px;
    &__subtitle{
        font-family: 'Lato';
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        color: $pcolor;
        margin-right: 20px;
    }
    &__subtitle1{
        display: flex;
        align-items: center;
    }
    &__title{
        font-family: 'Lora';
        font-size: 52px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: $bcolor;
        max-width: 667px;
    }
    &__text{
        font-family: 'Lato';
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        max-width: 382px;
        color: $gcolor;
    }
    &__top{
        display: flex;
        align-items: center;
    }
    &__top-right{
        margin-left: 85px;
    }
    &__form{
        background: $bcolor;
        padding: 56px 31px 56px 20px;
        max-width: 445px;
        margin-top: 80px;
    }
    &__ww{
        position: relative;
    }
    &__form-title{
        font-family: 'Lora';
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 29px;
        margin-left: 25px;
    }
    &__form-item{
        font-family: 'Lato';
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        margin-bottom: 12px;
        background-color: $tcolor;
        padding-left: 30px;
        padding-bottom: 10px;
        &:last-child{
            margin-bottom: 40px;
        }
    }
    &__form-sel{
        font-family: 'Lato';
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        background-color: $tcolor;
        color: white;
        width: 340px;
    }
    &__btn3{
        margin-left: 70px;
    }
    &__bottom{
        position: relative;
    }
    &__image{
        position: absolute;
        right: -130px;
        top: -70px;
    }
}
.about{
	&__in{
		display: flex;
	}
	&__right{
		display: grid;
		grid-template-columns: repeat(2, 204px);
    grid-template-rows: 64px 64px 64px;
	grid-column-gap: 124px;
    grid-row-gap: 64px;
	margin-top: 30px;
	&-title{
		color: $bcolor;
		font-family: 'Lora';
		font-size: 32px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
	&-text{
		color: $ggcolor;
		font-family: 'Lato';
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 26px; 
		margin-left: 56px;
	}
	&-imges{
		display: flex;
	}
	&-img{
		margin-right: 24px;
	}
	}
	&__left{
		background-color: $bcolor;
		padding: 54px;
		margin-left: 71px;
		&-title{
			font-family: 'Lora';
			font-size: 40px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			max-width: 433px;
			margin-bottom: 24px;
		}
		&-text{
			font-family: 'Lato';
			font-size: 20px;
			font-style: normal;
			font-weight: 500;
			line-height: 30px;
			max-width: 433px;
		}
		&-prev{
			display: flex;
			margin-bottom: 8px;
			&-title{
				font-family: 'Lato';
				font-size: 20px;
				font-style: normal;
				font-weight: 500;
				line-height: 30px;
				margin-right: 10px;
			}
			&-img{
				height: 4px;
				margin-top: 16px;
				width: 80px;
				fill: $ggcolor;
			}
		}
	}

}
.spaces {
	padding-top: 112px;
	padding-bottom: 112px;
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: end;
		column-gap: 110px;
}
	}

	.section-text {
		flex: 1;
		font-size: 18px;
		line-height: 1.5em;
		max-width: 450px;
		color: $ggcolor;

	&__nav {
		display: flex;
		justify-content: end;
		column-gap: 23px;
	}

	&__slider {
		margin: 0 auto;
		margin-top: 64px;
	}
}
.section-title{
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: $bcolor;
	font-size: 'Lora';
	margin-right: 164px;
}
.header-spaces {
	&__main {
		display: flex;
		flex: 1;
		column-gap: 50px;
		align-items: center;
		padding-bottom: 56px;
	}
}

.slider-controllers {
	display: flex;
	justify-content: space-between;
	width: 170px;
	column-gap: 10px;
	padding-bottom: 50px;

	&__arrow {
		display: flex;
		align-items: end;
	}
}
.arrow-left {
	justify-content: start;

	.arrow__line {
		margin-left: 4px;
	}
}

.arrow {
	display: flex;
	align-items: center;
	position: relative;	
	height: 29px;
	width: 50px;
	cursor: pointer;
	transition: all .2s ease;

	&__line {
		display: block;
		width: 100%;
		height: 4px;
		background-color: $greyColor;
		transition: all .2s ease;
	}

	&__body {
		fill: $greyColor;
		position: absolute;
		transition: all .2s ease;
	}

	&:hover {
		width: 90px;

		.arrow__line {
			background-color: $secondaryColor;
		}
	
		.arrow__body {
			fill: $secondaryColor;
		}
	}	
}

.arrow-right {
	justify-content: end;

	.arrow__line {
		margin-right: 4px;
	}
}

.slider-spaces {

	&__cards {

	}

	&__nav {
		margin: 0 auto;
		width: 160px;
		height: 4px;
		margin-top: 53px;

		.swiper-pagination-progressbar-fill {
			background-color: $secondaryColor;	
		}
	}

	&__progressbar {
		position: relative;
		background-color: $greyColor;
	}

	&__fractions {
		text-align: center;
		margin-top: 7px;
	}

	&__current {
		font-weight: 500;
		font-size: 18px;
		line-height: 1.5em;
		color: $pcolor;
	}

	.slash {
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
		color: #0d2c4a;
	}

	&__all {
		line-height: 1.6em;
		color: $greyColor;
	}
}
.card-spaces {
	height: 468px;
	position: relative;
	max-width: 350px;

	&__content {
		color: #fff;
	}

	&__img {
		width: 100%;
		height: 420px;
		object-fit: cover;
	}

	&__title {
		text-align: center;
		padding-top: 25px;
		font-weight: 700;
		font-size: 20px;
		color: $blackColor;
	}

	&__text {
		font-size: 18px;
		font-weight: 500;
		line-height: 1.5em;
		text-align: center;
		margin-top: 14px;
	}

	&:hover {
		.main-content {
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
		}
		.private-card {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
		}
		.check-avaibility-btn {
			bottom: 0;
		}
	}
}
.check-avaibility-btn {
	position: absolute;
	left: 0;
	bottom: 48px;
	color: #fff;
	font-weight: 700;
	font-size: 0;
	line-height: 0;
	text-align: left;
	width: 72px;
	height: 72px;
	background-color: $secondaryColor;
	transition: all .2s ease;

	&::after {
		content: '';
		width: 32px;
		height: 32px;
		position: absolute;
		top: 22px;
		right: 22px;
		background-image: url(../img/chevron\ down.svg);
		background-repeat: no-repeat;
		background-size: contain;
	}

	&:hover {
		width: 255px;
		padding: 25px 54px;
		font-size: 18px;
		line-height: 1.2em;
	}
}

.main-content {
	opacity: 1;
	transition: all .3s ease;
}

.private-card {
	background-color: $primaryColor;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: all .3s ease;

	&:after {
		content: '';
		width: 90px;
		height: 90px;
		position: absolute;
		background-image: url(../img/Mask\ Group.svg);
		right: 16px;
		top: 16px;
	}
	
	&__content {
		height: 100%;
		padding: 144px 41px 184px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__title {
		font-family: 'Lora', sans-serif;
		text-align: center;
		font-size: 32px;
	}
}
.facilities {
	padding-bottom: 112px;
	.section-title {
		max-width: 570px;
	}

	&__header {
		margin-bottom: 51px;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: start;
		column-gap: 88px;
	}

	&__nav {
		max-width: 293px;	
	}

	&__list {
		display: flex;
		flex-direction: column;
	}

	&__item {
		display: flex;
		align-items: center;
		width: 100%;
		padding: 24px;
		font-size: 20px;
		font-weight: 700;
		color: $blackColor;
		transition: all .2s ease;
		cursor: pointer;

		&:hover {
			background-color: rgba(255, 87, 34, 0.1);
		}

		&.swiper-slide-thumb-active {
			background-color: $secondaryColor;
			color: #fff;
		}

		&.swiper-slide-thumb-active:hover {
			background-color: $secondaryColor;
		}	
	}

	&__slider {
		flex: 1;
		height: 453px;
	}

	&__img {
		max-width: 729px;
		height: 100%;
		object-fit: cover;
	}

	.slider-facilities {
		&__wrapper {
		}
	}
}
.gallery {
	position: relative;
	height: 606px;
	&__header {
		position: absolute;
		top: 0;
		right: 15px;		
		width: 100%;
		display: flex;
		justify-content: end;
		z-index: 5;

		.section-title {
			margin-bottom: 39px;
		}
	}

	&__slider-wrapper {
		width: 100%;
		height: 100%;
		padding-left: 95px;
	}

	&__slider {
		margin: 0;
		width: 445px;
		height: 100%;
		overflow: visible;
	}
}
.header-gallery {

	&__container {
		max-width: 500px;
	}
}

.slider-gallery {
	&__wrapper {
	}

	&__slide {
		width: 350px;
		padding: 256px 0 0 0;
		align-self: flex-end;
		transition: padding .7s ease;
		img {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&.swiper-slide-active {
			width: 445px;
			padding: 0;
		}
	}

	&__image {
		position: relative;
		height: 100%;
	}
}
.partner{
	padding-top: 112px;
	padding-bottom: 112px;
	&__head{
		font-family: 'Lora';
		font-size: 40px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		color: $tcolor;
		text-align: center;
		margin-bottom: 24px;
	}
	&__text{
		font-family: 'Lato';
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 28px;
		text-align: center;
		color: $ggcolor;
		margin-bottom: 56px;
	}
	&__boxes{
		display: flex;
	}
	&__box{
		padding-right: 60px;
		&:last-child{
			padding-right: 0;
		}
	}
}
.reviews {

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: end;
		

		.section-title {
			max-width: 400px;
			padding-bottom: 14px;
		}
	}

	&__slider-wrapper {
		margin-top: 54px;
		max-width: 445px;
		display: flex;
		justify-content: start;
	}

	&__slider {
		position: relative;
		width: 100%;
		height: 392px;
		margin: 0;
		overflow: visible;

		&::before {
			content: '';
			width: calc(100vw - (#{1140px} - 30px) / 2);
			height: 100%;
			position: absolute;
			left: 0;
			right: 0;
			transform: translateX(-100%);
			z-index: 10;
			background-color: #fff;
		}
	}
}

.slider-reviews {

	&__card {
		width: 100%;
		padding: 47px 40px 35px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		row-gap: 25px;
		background-color: $primaryColor;
		color: #fff;
	}

	&__nav {
		margin: 0 auto;
		width: 160px;
		height: 4px;
		margin-top: 32px;

		.swiper-pagination-progressbar-fill {
			background-color: $secondaryColor;	
		}
	}

	&__progressbar {
		position: relative;
		background-color: $greyColor;
	}
}
.card-review {

	&__text {
		line-height: 1.6em;
	}

	&__author {
		display: flex;
	}
}
.card-author {

	&__avatar {
		width: 56px;
		height: 56px;
		margin-right: 16px;
		border-radius: 100%;
		object-fit: contain;
	}

	&__info {
		display: flex;
		flex-direction: column;
	}

	&__name {
		font-size: 18px;
		font-weight: 700;
		line-height: 1.5em;
	}

	&__speciality {
		margin-top: 4px;
		line-height: 1.6em;
	}
}
.questions {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 112px;
	padding-bottom: 112px;

	.section-title {
		text-align: center;
		max-width: 578px;
	}

	&__cards {
		margin-top: 54px;
		display: flex;
		justify-content: space-between;
		column-gap: 30px;
	}

	&__card {
		position: relative;
		flex: 1;
		height: 171px;
		padding: 42px 40px;
		color: #000;
		text-align: center;
		box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
		cursor: pointer;
		transition: all .2s ease;

		&:hover {
			box-shadow: none;
			color: #fff;
			background-color: $secondaryColor;

			.card-question__badge {
				box-shadow: 0px 4px 20px rgba(255, 87, 34, 0.3);
				background-color: #fff;
			}

			.badge__arrow {
				fill: $secondaryColor;
			}
		}
	}
}

.card-question {
	display: block;

	&__text {
		font-family: 'Lora', sans-serif;
		font-size: 26px;
		line-height: 1.5em;
	}
	&__text2 {
		font-family: 'Lora', sans-serif;
		font-size: 26px;
		line-height: 1.5em;
		max-width: 270px;
		display: block;
	}

	&__badge {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 50%);
		display: flex;
		justify-content: center;
		align-items: center;
		width: 64px;
		height: 48px;
		background-color: $secondaryColor;
		transition: all .2s ease;
	}
}

.badge {

	&__arrow {
		fill: #fff;
		transition: all .2s ease;
	}
}

.show-more-link {
	display: flex;
	align-items: center;
	margin-top: 64px;

	&__text {
		color: $secondaryColor;
		margin-right: 19px;
		padding-bottom: 3px;
		transition: color .2s ease;
	}

	&__arrow {
		fill: $secondaryColor;
		transition: fill .2s ease;
	}

	&:hover {
		.show-more-link__text {
			color: rgba(255, 87, 36, 0.7);
		}
	
		.show-more-link__arrow {
			fill: rgba(255, 87, 36, 0.7);
		}
	}
}
.news {	
	padding-bottom: 112px;
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: end;
		column-gap: 25px;

		.show-more-link {
			margin-top: 0;
			flex-shrink: 0;
		}
	}

	&__cards {
		width: 100%;
		margin-top: 56px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 30px;
	
	}

	&__card {
		width: 350px;
		height: 320px;
		background-color: #fff;
		&:hover {
			box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
		}
	}
}

.card-primary {
width: 730px;
display: flex;
	&__img {
		width: 350px;
		object-fit: cover;
	}

	&__content {
		background-color: #fff;
		flex: 1;
		padding: 32px;
	}

	&__title {
		font-family: 'Lora', sans-serif;
		font-size: 32px;
		font-weight: 700;
		line-height: 1.3em;
		color: $blackColor;
	}

	&__text {
		margin-top: 24px;
		line-height: 1.6em;
		color: $greyColor;
	}

	&__author {
		display: flex;
		margin-top: 16px;

		.card-author__name {
			color: $primaryColor;
		}

		.card-author__speciality {
			color: $greyColor;
		}
	}
}

.card-article {

	&__img {
		height: 204px;
		object-fit: cover;
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: #fff;
		padding: 14px 16px;
	}

	&__title {
		font-family: 'Lora', sans-serif;
		font-size: 22px;
		line-height: 1.2em;
		color: $blackColor;
	}

	&__author {
		line-height: 1.6em;
		color: $greyColor;
		margin-top: 6px;
	}
}
.recomend{
	padding-top: 100px;
	&__in{
		display: flex;
		justify-content: space-between;
	}
	&__box{
		display: flex;
	}
	&__text{
		font-family: 'Lato';
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 30px;
		color: #F8F8F8;
		margin-right: 20px;
		margin-bottom: 8px;
	}
	&__title{
		font-family: 'Lora';
		font-size: 40px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		max-width: 445px;
		margin-bottom: 16px;
	}
	&__info{
		font-family: 'Lato';
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 30px;
		color: #DFDFDF;
		max-width: 429px;
		margin-bottom: 33px;
	}
	&__right{
		position: relative;
	}
	&__imgs{
		position: absolute;
		top: -15%;
		left: -12%;
	}
	&__img{
		position: relative;
		margin-top: -80px;
	}
}
.footer {
	background-color: #0D2C4A;
	&__container {
		padding-top: 70px;
		padding-bottom: 90px;
		display: flex;
		justify-content: space-between;
	}

	&__about {
		max-width: 255px;
		margin-right: 125px;
		padding-bottom: 24px;
	}

	&__nav {
		display: flex;
		justify-content: space-between;
		
		padding-top: 10px;
		flex: 1;
	}
}

.about {

	&__title {
		font-family: 'Lora', sans-serif;
		font-weight: 700;
		font-size: 52px;
		color: #fff;
		line-height: 1.3em;
	}

	&__text {
		color: #f8f8f8;
		margin-top: 16px;
		line-height: 1.6em;
	}

	&__socials {
		margin-top: 24px;
		display: flex;
		column-gap: 16px;
	}
}
.socials {
	&__item {
		fill: #fff;
		transition: fill .2s ease;
		&:hover {
			fill: $secondaryColor;
		}
	}

	&__link {
		transition: fill .2s ease;
	}

	&__icon {
		fill: inherit;
	}
}
.nav-footer {

	&__section {
		max-width: 212px;
	}

	&__title {
		font-weight: 500;
		font-size: 20px;
		color: rgba(255, 255, 255, 0.5);
	}

	&__list {
		margin-top: 24px;
	}

	&__item {
		color: #fff;
		transform: color .2s ease;
		&:not(:last-child) {
			margin-bottom: 9px;
		}

		&:hover {
			color: $secondaryColor;
		}
	}

	&__link {
		line-height: 1.6em;
		b {
			font-weight: 700;
		}
	}
}
